
html {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    align-items: stretch;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.hoverDiv {
    background-color: blue;
}

#div-container {
    display: grid;
    height: 400px;
    width: 400px;
    background-color: green;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16.1fr);

}



.squareStyle {
    margin: 0;
    color: black;
    height: 50px;
    width: 50px;
    background-color: black;
    border: white solid 1px;
}