
html {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    align-items: stretch;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.hoverDiv {
    background-color: blue;
}

#div-container {
    display: flex;
    height: 400px;
    width: 400px;
    background-color: green;
    flex-wrap: wrap;
    border: 1px dotted black;
}

.squareStyle {
    margin: 0;
    color: black;
    background-color: black;
}